Barkhale Camp is a causewayed enclosure, a Neolithic archaeological site on Bignor Hill, on the South Downs of West Sussex,

England.


English causewayed enclosures, built from around 3700 BC until at least 3500 BC, are enclosed with ditches interrupted by gaps,
or causeways. They may have been settlements, meeting places, or ritual sites. Barkhale Camp was identified by John Ryle in 1929
and surveyed the following year by E. Cecil Curwen, who listed it as a possible Neolithic site. A small trench was dug in 1930 by Ryle,
and more extensive excavation was undertaken by Veronica Seton-Williams between 1958 and 1961, which found
a characteristically Neolithic assemblage of flints. Peter Leach conducted another excavation in 1978, examining several
mounds and attempting to find the line of the ditch and bank along the southern boundary.

    No material suitable for radiocarbon dating was recovered, but Leach suggested that the site was constructed
     in the earlier Neolithic, between 4000 BC and 3300 BC.